/* GLOBALS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Varela", sans-serif;
}

button {
  font-family: "Varela", sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

.nav-wrapper {
  min-height: 8vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #07244c, #113e7f);
}

nav {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex: 1 1 10rem;
  justify-content: flex-start;
}

.logo img {
  width: 4rem;
  height: 4rem;
}

nav ul {
  display: flex;
  flex: 2 1 10rem;
  justify-content: space-evenly;
}

nav ul a.lower-opacity {
  opacity: 0.7;
}

.login-register {
  display: flex;
  flex: 1 1 10rem;
  align-items: center;
  justify-content: flex-end;
}

.login-register a {
  padding-right: 2rem;
}

.login-register button {
  background-color: white;
  color: #07244c;
  padding: 1.3rem 2.8rem;
  border-radius: 1.7rem;
  border: none;
  font-size: 1.5rem;
}

.login-register button:hover {
  cursor: pointer;
}

/* FLOWLESS PAYMENT FLOW SECTION */

#flowless-payment-flow {
  background-image: linear-gradient(to right, #07244c, #113e7f);
}

.product-wrapper {
  min-height: 50vh;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
}

.product-content {
  color: white;
}

.product-content h3 {
  opacity: 0.85;
}

.product-content h1 {
  padding: 3rem 0rem;
}

.product-content p {
  opacity: 0.6;
}

.product-content button {
  font-weight: 700;
  padding: 2rem 3rem;
  margin-top: 10rem;
  border-radius: 1.7rem;
  border: none;
  font-size: 1.8rem;
  color: white;
  background: #52de97;
}

.product-name {
  display: flex;
}

.product-name .background {
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem 2rem;
  border-radius: 1.5rem;
}

.triangle {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  top: 45%;
  right: 0;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 500rem solid transparent;
  border-bottom: 100rem solid black;
  overflow: hidden;
}

/* REBOB SECTION */
