/* GLOBALS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Varela", sans-serif;
}

button {
  font-family: "Varela", sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

/* NAVBAR */

.nav-wrapper {
  min-height: 8vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #07244c, #113e7f);
}

nav {
  padding: 2rem 0;
  width: 58%;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  flex: 0.1 1 20rem;
  justify-content: flex-start;
}

.logo img {
  width: 4rem;
  height: 4rem;
}

nav ul {
  display: flex;
  flex: 2 1 40rem;
  justify-content: space-evenly;
}

nav ul a.lower-opacity {
  opacity: 0.7;
}

.login-register {
  display: flex;
  flex: 1 1 30rem;
  align-items: center;
  justify-content: flex-end;
}

.login-register a {
  padding-right: 2rem;
}

.login-register button {
  background-color: white;
  color: #07244c;
  padding: 1.3rem 2.8rem;
  border-radius: 1.7rem;
  border: none;
  font-size: 1.5rem;
}

.login-register button:hover {
  cursor: pointer;
}

/* FLOWLESS PAYMENT FLOW SECTION */

#flowless-payment-flow {
  padding: 4rem 0;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to right, #07244c, #113e7f);
}

#flowless-payment-flow::after {
  background: inherit;
  content: "";
  display: block;
  min-height: 30vh;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

#flowless-payment-flow::after {
  bottom: 0;
  transform: skewY(-10deg);
}

.product-wrapper {
  min-height: 50vh;
  width: 58%;
  margin: auto;
  display: flex;
  align-items: center;
}

.product-content {
  color: white;
}

.product-content h3 {
  opacity: 0.85;
}

.product-content h1 {
  padding: 3rem 0rem;
}

.product-content p {
  line-height: 1.6;
  opacity: 0.6;
}

.product-content button {
  font-weight: 700;
  padding: 2rem 3rem;
  margin-top: 10rem;
  border-radius: 1.7rem;
  border: none;
  font-size: 1.8rem;
  color: white;
  background: #52de97;
}

.product-name {
  display: flex;
}

.product-name .background {
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem 2rem;
  border-radius: 1.5rem;
}

/* REBOB SECTION */

#rebob {
  min-height: 70vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#rebob::after {
  background: inherit;
  content: "";
  display: block;
  min-height: 30vh;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

#rebob::after {
  top: -1%;
  transform: skewY(-10deg);
}

#rebob:before {
  background: inherit;
  content: "";
  display: block;
  height: 30vh;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

#rebob:before {
  bottom: 0;
  transform: skewY(-10deg);
  z-index: 1;
}

.rebob-wrapper {
  width: 58%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: lighter;
  color: #122552;
  z-index: 2;
}

.rebob-text {
  text-align: center;
}

.rebob-text h3 {
  color: rgba(18, 37, 82, 0.7);
  font-weight: lighter;
  letter-spacing: 0.2rem;
}

.rebob-text h2 {
  padding-top: 2rem;
  font-weight: lighter;
}

.rebob-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 1rem;
  border-width: 0.2rem;
  margin: 2rem;
  border-style: dashed;
  border-color: rgba(166, 176, 201, 0.5);
  flex: 1 1 20rem;
}

.box:hover {
  transition: 0.5s ease-in-out;
  border: none;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);
}

.box h3 {
  padding-left: 1.5rem;
}

.box img {
  height: 6vh;
  width: 6vh;
}

/* VIDEO SECTION */

#video {
  height: 70vh;
  background: #f5f9fc;
  display: flex;
  justify-content: center;
  position: relative;
}

#video::after {
  background: inherit;
  content: "";
  display: block;
  min-height: 30vh;
  position: absolute;
  left: 0;
  right: 0;
}

#video::after {
  top: 0;
  transform: skewY(-10deg);
}

.video-wrapper {
  width: 58%;
  min-height: 40vh;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  color: #122552;
  z-index: 2;
}

.video-text {
  text-align: center;
}
.video-text h3 {
  color: rgba(18, 37, 82, 0.7);
  letter-spacing: 0.2rem;
  font-weight: lighter;
}

.video-text h2 {
  padding-top: 2rem;
  font-weight: lighter;
}

.video-mockup {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.video-mockup img {
  border-radius: 1rem;
}

.video-mockup .video-interface {
  height: 40vh;
  width: 70vh;
  box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.1);
}

.video-mockup .patient-by-gender {
  position: absolute;
  width: 15vh;
  height: 17vh;
  transform: skew(10deg, -10deg);
  left: 5%;
  top: 10%;
  box-shadow: -15px 85px 105px 14px rgba(0, 0, 0, 0.15);
}

.video-mockup .total-patients {
  position: absolute;
  width: 20vh;
  height: 9vh;
  right: 5%;
  top: 50%;
  transform: skew(-10deg, 10deg);
  box-shadow: 0px 85px 105px 14px rgba(0, 0, 0, 0.25);
}

.video-mockup .play-circle {
  position: absolute;
  padding: 4rem;
  border-radius: 6rem;
  top: 50%;
  transform: translateY(-50%);
  background: #52de97;
}

.play-circle img {
  height: 3.2rem;
  width: 3.2rem;
  padding-left: 0.5rem;
}

@media screen and (max-width: 1566px) {
  /* GLOBALS */

  h3 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.3rem;
  }

  /* NAVBAR */

  nav {
    justify-content: center;
  }

  .logo {
    order: 1;
    justify-content: center;
    padding: 2rem 0;
  }

  nav ul {
    order: 3;
    flex-wrap: wrap;
  }

  .login-register {
    order: 2;
    justify-content: center;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 581px) {
  /* GLOBALS */

  h3 {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.2rem;
  }

  /* NAVBAR */

  nav ul {
    font-size: 1.2rem;
  }

  .login-register {
    font-size: 1.2rem;
  }

  .login-register button {
    font-size: 1.2rem;
  }

  /* FLOWLESS PAYMENT FLOW */
  .product-content {
    text-align: center;
  }
  .product-content h1 {
    text-align: center;
  }

  .product-content button {
    margin-top: 7rem;
    font-size: 1.2rem;
  }
  .product-name {
    justify-content: center;
  }

  /* REBOB SECTION */
  #rebob {
    min-height: 100vh;
  }
}
